{% extends 'default.html' %}

{% block title %} Клиенты {% endblock title %}

{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
        </tr>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}