{% extends 'default.html' %}

{% block title %} Заявки {% endblock title %}

{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>Кому принадлежит</th>
            <th>Тип</th>
            <th>Дата создания</th>
            <th>Сатус</th>
        </tr>
        {% for query in queries %}
            <tr>
                <td>{{ query.id }}</td>
                <td>{{ query.client.user.username }}</td>
                <td>{{ query.get_type_display }}</td>
                <td>{{ query.query_date_creation|date:'d.m.Y H:i' }}</td>
                <td>{{ query.get_status_display }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}