{% extends 'default.html' %}

{% block title %} Работники {% endblock title %}

{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Должность</th>
            <th>Действия</th>
        </tr>
        {% for worker in workers %}
            <tr>
                <td>{{ worker.id }}</td>
                <td>{{ worker.name }}</td>
                <td>{{ worker.last_name }}</td>
                <td>{{ worker.email }}</td>
                <td>{{ worker.position }}</td>
                <td><a href="/workers/{{ worker.id }}">Редактировать</a> <a href="/workers/delete/{{ worker.id }}">Удалить</a></td>
            </tr>
        {% endfor %}
    </table>
    <button><a href="workers/add">Добавить работника</a></button>
{% endblock content %}